
<div class="todo-list" style="text-align: center">
  <h1>TODO</h1>
  <mat-form-field class="example-full-width">
    <mat-label>Example Task: </mat-label>
    <input type="text" matInput  [(ngModel)]="newTask" (keyup.enter)="addTask()">
      <button mat-raised-button color="primary" (click)="addTask()">Add</button>
  </mat-form-field>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let task of tasks">
      <mat-checkbox class="example-margin" [(ngModel)]="task.completed"></mat-checkbox>
      <span class="text" [ngClass]="{'asdasd': task.completed}">{{ task.name }}</span>
      <button mat-raised-button color="warn" (click)="destroyTask(task)">Delete</button>
    </li>
  </ul>
  <button (click)="logout()">Logout</button>
</div>

